<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plants</title>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
</head>
<body class="bg-sky-400">
    <h2>
        {% for item in items %}
            <a href="{% url 'detail' item.id %}">
                Id: {{item.my_id}}<br>
                Name: {{item.name}}<br>
                Price: {{item.price}}<br>
                Description: {{item.description}}<br>
            </a>
        {% endfor %}
    </h2>
</body>
</html>